In [2]:
#how to find maximum number from a list
mylist = [3,5,6,8,9,34,56,7]
max_no = 0
for i in mylist:
    if i > max_no:
        max_no = i

In [3]:
max_no

56

In [1]:
#how to find maximum number from a list
mylist = [3,5,6,8,9,34,56,7]
max_no = 0
nd_max = 0
for i in mylist:
    if i > max_no:
        max_no = i
for j in mylist:
    if j > nd_max and j < max_no:
            nd_max = j

In [2]:
nd_max

34

In [37]:
for i in range(4):
    for j in range(4):
        print("*",end="")
    print()

****
****
****
****

In [43]:
for i in range(6):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****
******

In [49]:
for i in range(6):
    for j in range(6-i):
            print("*",end="")
    print()

******
*****
****
***
**
*

In [50]:
n = int(input("enter number of rows:"))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

enter number of rows:6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [53]:
n = int(input("enter number of rows:"))
for i in range(n):
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

enter number of rows:6
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

In [56]:
n = int(input("enter number of rows:"))
for i in range(n):
    for j in range(i+1):
        print(i+1,end=" ")
    print()

enter number of rows:6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [59]:
n = int(input("enter number of rows:"))
for i in range(n):
    for j in range(i+1):
        print(n-i,end=" ")
    print()

enter number of rows:6
6
5 5
4 4 4
3 3 3 3
2 2 2 2 2
1 1 1 1 1 1

In [63]:
n = int(input("enter number of rows:"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print(j+1,end=" ")
    print()

enter number of rows:6
          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5
1 2 3 4 5 6

In [65]:
n = int(input("enter number of rows:"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

enter number of rows:6
          1
        2 1
      3 2 1
    4 3 2 1
  5 4 3 2 1
6 5 4 3 2 1

In [66]:
n = int(input("enter number of rows:"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print(i+1,end=" ")
    print()

enter number of rows:6
          1
        2 2
      3 3 3
    4 4 4 4
  5 5 5 5 5
6 6 6 6 6 6

In [67]:
n = int(input("enter number of rows:"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print(n-i,end=" ")
    print()

enter number of rows:5
        5
      4 4
    3 3 3
  2 2 2 2
1 1 1 1 1

In [69]:
for i in range(5):
    for j in range(5):
        print("*",end='')
    print()

*****
*****
*****
*****
*****